<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/../public/style/adminStyle.css" />
		<script type="text/javascript" src="../public/scripts/ejs_production.js"></script>
	</head>
	<body>
		<header>
			<h1>Admin Page</h1>
		</header>
		<hr />
		<section>
			<table id='walkTable' class='records' border='0' cellspacing='0' cellpadding='0'><tbody></tbody></table>
			<button onclick="window.location.reload();">Refresh</button>
		</section>
		<footer>
			Logged in as: <%= userName %>
		</footer>
	</body>
</html>