<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/style/adminStyle.css" />
		<script type="text/javascript" src="/scripts/ejs.min.js"></script>
		<script type="text/javascript" src="/scripts/index2.js"></script>
		<script type="text/javascript" src="/scripts/util.js"></script>
		<style type="text/css">
			body{
				background: none;
			}
		</style>
	</head>
	<body>
		<header>
			<h1>Admin Page</h1>
		</header>
		<hr />
		<section>
			<table id='walkTable' class='records' border='1'>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Phone Number</td>
					<td>Email</td>
					<td>Package #</td>
					<td>Walk Date</td>
					<td>Walk Time</td>
					<td>Comments</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<button onclick="window.location.reload();">Refresh</button>
		</section>
		<footer>
			Logged in as: <%= userName %>
		</footer>
	</body>
</html>